@import "tailwindcss";


.roles-wrapper {
  padding: 20vh 0;
}

.roles-heading {
  position: fixed;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  
  z-index: 10;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.role-triggers {
  margin-top: 20vh;
}

.role-trigger {
  height: 80vh;
}

body {
  background-color: #c4b6c1;
}

wp-block-navigation,
.wp-block-navigation__responsive-container {
  display: none !important;
}

.test-tailwind {
  @apply bg-blue-500 p-10 rounded-xl;
}
