@import "tailwindcss";


.roles-wrapper {
  padding: 20vh 0;
}

.roles-heading {
  position: fixed;
  top: 26vh;
  left: 50%;
  transform: translateX(-50%);
  
  z-index: 10;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.role-triggers {
  margin-top: 20vh;
}

.role-trigger {
  height: 80vh;
}

body {

  background:
    linear-gradient(
      135deg,
      #dec3d2 0%,
      #bac9e2 50%,
      #cabde4 100%
    );
  background-attachment: fixed;
}



wp-block-navigation,
.wp-block-navigation__responsive-container {
  display: none !important;
}

.role-visuals {
  position: relative;
  margin-top: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.role-visual {
  position: absolute;
  opacity: 0;
}

.visual {
  max-width: min(80vw, 750px);
  height: auto;
}





